librosa
numpy
scipy
tqdm
six
wheel
mock
absl-py
astor
gast
keras_applications
keras_preprocessing
protobuf
tensorboard==2.0.0
tensorflow_estimator
termcolor
cuda-10.0
cuDNN-compatible version
NVIDIA-driver-418
